{% extends 'base.html' %}
{% block Title %}<title>Log In</title>{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

<style>
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

</style>
    <div style="margin-top: 40px" >
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Login Form -->
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <div class="wrapper fadeInDown" style="margin-top: 20px">
                    <a href="{% url 'signup' %}" class="fadeIn fourth" >
                        <button class="btn btn-success">Sign Up</button>
                    </a>
                </div>
            </div>
            <div class="wrapper fadeIn fourth">
                <div class="row">
                    <div class="column">
                        {% load static%}
                            <img class="img-responsive" src="{% static 'img/soccer_performance.jpeg' %}" alt="" style="width:100%">
                    </div>
                    <div class="column">
                        {% load static%}
                        <img class="img-responsive" src="{% static 'img/swimming_performance.jpg' %}" alt="" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
