{% extends 'base.html' %}
{% block Title %}<title>CSV Files</title> {% endblock %}

{% block info %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container" style="margin-top: 30px">
        <p>
            <a href="{% url 'upload_file' %}" class="btn btn-primary">
                Upload csv file
            </a>
            <a href="{% url 'key_words_events_file' %}" class="btn btn-warning">
                Set events file key words
            </a>
            <a href="{% url 'key_words_devices_file' %}" class="btn btn-warning">
                Set devices file/s key words
            </a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Athlete</th>
                    <th>CSV File</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.title }}</td>
                        <td>{{ file.athlete }}</td>
                        <td>{{ file.csv }}</td>
                        <td>
                            <form method="post" action="{% url 'delete_file' file.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
