<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    {% block Title %} <title>Home</title> {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

     {% load static %}
    <link rel="stylesheet" href="{% static '/style/base.css' %}">

</head>
<body>

<div>
    <div>
        {% block content %}

            {% if user.is_authenticated %}
                {% block nav %}

                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class=" nav-link" href="{% url 'home' %}"> Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class=" nav-link" href="{% url 'settings' %}"> Settings</a>
                                </li>

                                <li class="nav-item">
                                    <a class=" nav-link" href="{% url 'file_list' %}"> Files</a>
                                </li>

                                <li class="nav-item">
                                    <a class=" nav-link" href="{% url 'data analytics' %}"> Data analytics</a>
                                </li>

                                <li class="nav-item">
                                    <a class=" nav-link" href="{% url 'line chart' %}"> Line chart</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav margin-right: auto">
                                <li class="nav-item active" >
                                    <a class="navbar-brand" href="#">{{ user.username }}</a>
                                </li>

                                <li class="nav-item">
                                    <a class=" nav-link" href="{% url 'logout' %}"> Logout</a>
                                </li>

                            </ul>
                        </div>
                    </nav>

                {% endblock %}

                {% block info %}

                    <h1> Welcome home!</h1>

                {% endblock %}
            {% endif %}

        {% endblock %}

    </div>
</div>

</body>
</html>
