{% extends 'base.html' %}
{% block Title %}<title xmlns="">Analysis</title> {% endblock %}

{% block info %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <h1> Analyse your sports performance data</h1>

    <div class="container" style="margin: 25px 10px">
        <div class="form-group" style="margin: 25px 20px">
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <p>
                            <h4 class="alert alert-danger"> {{ message }}</h4>
                        </p>
                    {% endfor %}
                    </ul>
                {% else %}
        </div>
        <div class="container" style="margin: 25px 200px">
            {% for perf_var in perf_vars_list %}
                <input type="checkbox" class="checks" value={{ perf_var }}> {{ perf_var }}
            {% endfor %}
            <button class="btn btn-primary" onclick="getSelectorChecks();"> Save</button>
        </div>

        <script>
            function getSelectorChecks() {
                let checks = document.getElementsByClassName('checks');
                let str = [];

                for ( let i = 0; i < checks.length; i++ ){
                    if ( checks[i].checked === true ){
                        str.push(checks[i].value);
                    }
                }
                processChecksWithDataToDisplay(str);
            }
        </script>

        <script>
            function processChecksWithDataToDisplay(str) {
                let list_json = [];
                let keys = [];
                let values = [];
                list_json = {{ dict_csv_files|safe }};

                for(let dict = 0; dict < list_json.length; dict++){
                    for(let key in list_json[dict]){
                        if (list_json[dict].hasOwnProperty(key)){
                            if (str.includes(key)){
                                keys.push(key);
                                values.push(list_json[dict][key]);
                            }
                        }
                    }
                }
                generateDataTable(keys, values);
            }
        </script>

        <script>
            function generateDataTable(columnNames, columnValues) {
                let body = document.body, tbl = document.createElement('table');
                // let values = columnValues;
                let subListLength = 0;

                let tr = tbl.insertRow();
                for (let i = 0; i < columnNames.length; i++) {
                    let th = document.createElement("TH");
                    th.appendChild(document.createTextNode(columnNames[i].toString()));
                    tr.appendChild(th);
                }

                for (let value in columnValues){
                    if (columnValues.hasOwnProperty(value)) {
                        subListLength = columnValues[value].length;
                        break
                    }
                }

                for (let i = 0; i < subListLength; i++){
                    let tr = tbl.insertRow();
                    for (let j = 0; j < columnValues.length; j++){
                        let td = tr.insertCell();
                        td.appendChild(document.createTextNode(columnValues[j][0].toString()));
                        columnValues[j].shift();
                    }
                }
                body.appendChild(tbl);
            }
        </script>

    </div>

{% endif %}
{% endblock %}
