{% extends 'base.html' %}
{% block Title %}<title xmlns="">Analysis</title> {% endblock %}

{% block info %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <h1> Analyse your sports performance data</h1>

    <div class="container" style="margin: 25px 10px">
        <div class="form-group" style="margin: 25px 20px">
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <p>
                            <div class="alert alert-danger"> {{ message }}</div>
                        </p>
                    {% endfor %}
                    </ul>
                {% else %}
        </div>
        {% for perf_var in perf_vars_list %}
            <input type="checkbox" class="checks" value={{ perf_var }}> {{ perf_var }}
        {% endfor %}
        <button class="btn btn-primary" onclick="getTableValues();"> Save</button>

        <script>
            function getTableValues() {
                let checks = document.getElementsByClassName('checks');
                let str = '';

                for ( let i = 0; i < checks.length; i++ ){
                    if ( checks[i].checked === true ){
                        str += checks[i].value + " ";
                    }
                }
                alert(str);
                //printValues(str);
            }
        </script>

    <!-- The text in <th> elements are bold and centered by default.
         The text in <td> elements are regular and left-aligned by default.
         The <tr> tag defines a row in an HTML table.
         A <tr> element contains one or more <th> or <td> elements.
    -->
        <table border="1" style="margin-top: 10px">

            <tr>
                {% for var in column_titles %}
                    <th>{{ var }}</th>
                {% endfor %}
            </tr>
            {% for row in values %}
                <tr>
                    {% for value in row %}
                        <td>
                            {{ value }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endif %}
{% endblock %}
