{% extends 'base.html' %}
{% block Title %}<title>Settings</title> {% endblock %}
{% load crispy_forms_tags %}

{% block info %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container" style="margin-top: 30px">
        <div class="form-group" style="margin: 25px 20px">
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <p>
                            <h5 class="alert alert-danger"> {{ message }}</h5>
                    {% endfor %}
                    </ul>
                {% else %}
        </div>
        <!-- TODO: Put info messages here. Messages for time filters. -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>

{% endif %}
{% endblock %}
